$main-blue-color: #003b65;
$main-orange-color: #ff8165;
$orange-bg-color: #ffe4de;
$main-black-color: #1f1f1f;
$gray-color: #fafafa;

$text-color: #383838;
$sexondary-color: #676767;

$placeholder-color: #929292;
$divider-color: #cae1f1;

$error-color: #eb5757;
$succes-color: #27ae60;

$link-hover-color: #005dcb;
