@import './normalize.scss';
@import '@styles/__defines.scss';

#nav a.active,
a.hover div {
  div {
    font-weight: 700;
    color: $main-black-color;
  }

  svg {
    color: $main-orange-color;
  }
}

.mantine-Popover-dropdown {
  &.mantine-Select-dropdown {
    border-radius: 8px;

    .mantine-Select-option {
      padding: 14px 24px;
      color: $text-color;
      font-size: 16px;
      line-height: 21px;

      flex-direction: row-reverse;
      justify-content: flex-end;

      &:hover {
        background-color: #eef6fc;
      }
    }
  }
}
