@import '@styles/__defines.scss';

.card {
  position: relative;

  height: fit-content;

  &.default {
    background-color: #eef6fc;
  }

  &.outline {
    background-color: transparent;
    border: 1px solid $border-color;
  }

  &.dark {
    background-color: $gray-color;
  }

  &.error {
    background-color: #fff1ee;
  }
}
