@import '@styles/__defines.scss';

.file {
  padding: 20px;
  border-radius: 12px;

  background-color: $gray-color;

  @media (hover: hover) {
    &:hover {
      background-color: #eef6fc;

      svg {
        display: block;
      }
    }
  }

  svg {
    cursor: pointer;
    color: $error-color;

    display: none;
  }

  > div {
    svg {
      color: $text-color;
      cursor: default;

      display: block;
    }
  }
}
