@import '@styles/__defines.scss';

.icon {
  width: 40px;
  height: 40px;

  min-width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  &.orange {
    background-color: $orange-bg-color;
  }

  &.gray {
    background-color: $border-color;
  }

  &.blue {
    background-color: #d9efff;
  }
}

.orange {
  color: $main-orange-color;
}

.black {
  color: $text-color;
}

.blue {
  color: $main-blue-color;
}

.tooltip {
  background-color: white;
  color: black;

  padding: 16px;
  box-shadow: 0px 4px 32px 0px #003b650a;

  border-radius: 8px;

  border: 1px solid $gray-color;

  font-size: 16px;
  line-height: 18px;
}
