@import '@styles/__defines.scss';

.title {
  color: $main-black-color;
  font-style: normal;
  font-weight: 700;

  z-index: 2;

  &.gray {
    color: $placeholder-color;
  }

  &.error {
    color: $error-color;
  }

  &.blue {
    color: $main-blue-color;
  }
}

.h1 {
  font-size: 44px;
  line-height: 48.38px;
}

.h2 {
  font-size: 32px;
  line-height: 35.19px;
}

.h3 {
  font-size: 24px;
  line-height: 26.39px;
}

.h4 {
  font-size: 20px;
  line-height: 21.99px;
}

.h5 {
  font-size: 16px;
  line-height: 17.59px;
}

.main {
  font-size: 64px;
  line-height: 70.38px;
}
