@import '@styles/__defines.scss';

.modal {
  header {
    padding: 32px 32px 0;
    align-items: flex-start;

    button {
      height: 32px;
      width: 32px;

      svg {
        color: $text-color;
      }
    }
  }

  section {
    border-radius: 12px;
    > div {
      padding: 18px 32px;
    }
  }
}
