@import '@styles/__defines.scss';

.wrapper {
  height: 400px;
  width: 100%;
  z-index: 11;

  canvas {
    border-radius: 12px;
    border: 1px solid $border-color;
  }

  &.full {
    height: 100%;
    canvas {
      border-radius: unset;
      border: none;
    }
  }
}
