.notice {
  position: absolute;
  top: -150%;
  width: 100%;

  &.page {
    bottom: 64px;
    right: 32px;

    top: unset;

    z-index: 100000;
  }

  &.orange {
    color: #e45200;
  }

  animation: shake 0.5s ease-in-out;

  &.fade {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
